<html>
  <head>

  </head>
  <body>
    <footer>
    <div class="footer__section">
      
      <div class="footer__section-left">
      <div>
        <div class="footer__section-hours">HOURS</div>
        <p>MON - FRI: 8:30AM - 5PM</p>
        <p>SAT: 9AM - 3PM</p>
        <p>SUN: 9AM - 4PM</p>
      </div>
      
      <div>
        <div class="footer__section-address">ADDRESS</div>
        <p>200 4th AVENUE<p>
        <p>SEATTLE, WA 98121</p>      
        </div>
      </div>

      <div class="footer__section-center">
        
        <div class="main__header-title">Le Tour de Yumm</div>
        <img class="main__header-image" src="/images/Cake-icon.jpeg" alt="" />
      
      </div>
      
      
      <div class="footer__section-right">
      <div>
        <div class="footer__section-phone">PHONE</div>
        <p class="footer__section-phone-number">206-447-4554</p>
      </div>

  <div>
     <div class="footer__icons">
      <a href="https://www.instagram.com/letourdeyumm/" target="_blank"><img class="footer__social-icon foooter__social-icon--intagram" src="./icons/instagram-logo_icon.svg" /></a>
      <a href="https://www.facebook.com/letourdeyumm" target="_blank"><img class="footer__social-icon foooter__social-icon--facebook" src="./icons/facebook-logo_icon.svg" /></a>
      <a><img class="footer__social-icon foooter__social-icon--twitter" src="./icons/twitter-logo_icon.svg" /></a>
  </div>
  </div>
</div>
</div>
     <div class="footer__copyright">
      
      <div class="footer__copyright-text">Copyright Le Tour de Yumm © 2021 All Rights Reserved</div>
    </div>
    </footer>
  </body>
</html>