<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header class="main__header">
      <div class="main__header-logo">
        <div class="main__header-title"><a href="/">Le Tour de Yumm</a></div>
        <img class="main__header-image" src="/images/Cake-icon.jpeg" alt="" />

      </div>

      <nav class="main__header-nav">
        <div class="main__header-products-link"><a
            href="/products"
          >Products</a></div>
        <div class="main__header-about-link"><a href="/about">About</a></div>
        <div class="main__header-contact-link"><a
            href="/contact"
          >Contact</a></div>
        <div class="main__header_login_shopping-section">

          <a href=""><img
              class="main__header-shopping-image"
              src="/icons/shopping-cart.svg"
              alt=""
            /></a>
          <div class="main__header_login-section">
            <div class="main__header-login"><a href="/login">Log in
              </a></div><img
              class="main__header_login-icon"
              src="/icons/login.svg"
              alt=""
            />

          </div>
        </div>
      </nav>

    </header>

  </body>
</html>